<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href={{css}}/>
    <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <script crossorigin="anonymous" src={{script1}}></script>
    <script crossorigin="anonymous" src={{script2}}></script>
  </head>
  <body>
    <div id="root"></div>
    
    <script>{{ unpackingScript }}</script>
    <script type="text/javascript">
      /*const CSRF = (function(){
        const token = {{ csrfToken }};
        const csrf = (<input type="hidden" name="_csrf" value={ token }>);
        return {
          getCSRF: function() {
            return csrf;
          }
        }
      }()) */
      /*function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays*24*60*60*1000));
        var expires = "expires="+ d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
      }
      setCookie('csrfToken', {{ csrfToken }}, (1 / 12));
      */
    </script>
  </body>
</html>